img{
    width: 200px;
}
body {
    font-family: 'Arima', cursive;
    text-align: center;
    justify-content: center;
}
div {
    padding: 1.0rem;
}
#searchContainer {
    display: flex;
    /* padding: 0 10.0rem 0 10.0rem; */
    justify-content: center;
    background-color: pink;
    border: 1.0rem solid black;
    width: 60%;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    padding: 10px;
}
#container {
    display: flex;
}
#pokeInfo {
    float: left;
}
#pokeAbilityBtn {
    margin: auto;
    padding: 10px;
}
#ability {
}